<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add Book</servlet-name>
        <servlet-class>controller.addBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add Student</servlet-name>
        <servlet-class>controller.addStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add User</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add Record</servlet-name>
        <servlet-class>controller.addRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update Book</servlet-name>
        <servlet-class>controller.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update Student</servlet-name>
        <servlet-class>controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update Record</servlet-name>
        <servlet-class>controller.UpdateRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update User</servlet-name>
        <servlet-class>controller.updateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete Book</servlet-name>
        <servlet-class>controller.bookDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete Student</servlet-name>
        <servlet-class>controller.stuDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete Record</servlet-name>
        <servlet-class>controller.recDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete User</servlet-name>
        <servlet-class>controller.userDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add Book</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add Student</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add User</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add Record</servlet-name>
        <url-pattern>/addrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update Book</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update Student</servlet-name>
        <url-pattern>/updatestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update Record</servlet-name>
        <url-pattern>/updaterecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update User</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete Book</servlet-name>
        <url-pattern>/deletebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete Student</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete Record</servlet-name>
        <url-pattern>/deleterecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete User</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/myDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
